body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

article {
    flex: 1 0 auto;
}
.card-content{
	background: rgb(110,133,199);
	background: linear-gradient(180deg, rgba(110,133,199,1) 0%, rgba(0,185,124,1) 96%);
}